.reservationsForm .reservationsBox {
    width: 40rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-radius: 10px;
    background-color: #F5F5F5;
}

.reservationsForm form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.reservationsForm form .reservationsBox .headerLogo {
    width: 40%;
    margin-top: 2rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.reservationsForm form .reservationsBox .headerLogoLine {
    border-bottom: 2px solid #495E57;
    width: 60%;
    margin-top: 1rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.reservationsForm form .reservationsBox .reservationsLargePart {
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reservationsForm form .reservationsBox .reservationsLargePart .partOne {
    margin-right: 2rem;
    font-size: large;
    font-weight: bold;
}

.reservationsForm form .reservationsBox .reservationsLargePart .partOne .date label {
    margin-right: 7.5rem;
}

.reservationsForm form .reservationsBox .reservationsLargePart .partOne .date input {
    font-size: medium;
    padding: 8px;
    border-radius: 10px;
    cursor: pointer;
}

.reservationsForm form .reservationsBox .reservationsLargePart .partOne .guest {
    margin-top: 2rem;
}

.reservationsForm form .reservationsBox .reservationsLargePart .partOne .guest label {
    margin-right: 8px;
}

.reservationsForm form .reservationsBox .reservationsLargePart .partOne .guest select {
    font-size: medium;
    padding: 8px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    cursor: pointer;
}

.reservationsForm form .reservationsBox .reservationsLargePart .partTwo {
    font-size: large;
    font-weight: bold;
}

.reservationsForm form .reservationsBox .reservationsLargePart .partTwo .time label {
    margin-right: 2.6rem;
}

.reservationsForm form .reservationsBox .reservationsLargePart .partTwo .time select {
    font-size: medium;
    padding: 8px;
    padding-left: 22px;
    padding-right: 22px;
    border-radius: 10px;
    cursor: pointer;
}

.reservationsForm form .reservationsBox .reservationsLargePart .partTwo .occasion {
    margin-top: 2rem;
}

.reservationsForm form .reservationsBox .reservationsLargePart .partTwo .occasion label {
    margin-right: 8px;
}

.reservationsForm form .reservationsBox .reservationsLargePart .partTwo .occasion select {
    font-size: medium;
    padding: 8px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.reservationsForm form .reservationsBox a {
    text-decoration: none;
}

.reservationsForm form .reservationsBox button {
    padding: 10px;
    padding-left: 2rem;
    padding-right: 2rem;
    border: none;
    border-radius: 10px;
    font-size: large;
    font-weight: bold;
    color: #333;
    background-color: #F4CE14;
    cursor: pointer;
    margin-top: 4rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.reservationsForm form .reservationsBox button:hover {
    opacity: 0.8;
}

.reservationsForm form .reservationsBox button:active {
    transform: translateY(2px);
}

.reservationsForm form .reservationsBox .FooterLogoLine {
    border-bottom: 2px solid #495E57;
    width: 20%;
    margin-top: 4rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.reservationsForm form .reservationsBox .footerLogo {
    width: 8%;
    display: block;
    margin-top: 1rem;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
}